* {
  padding:0;
  margin:0;
}
.left-excess {
  left:0%;
  width:0%;
}
.right-excess {
  right:0%;
  width:0%;
}
.right {
  right:0;
  width:50%;
}
.custom-container {
  width:100%;
  min-height: 100%;
}
.try {
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  top: 0;
}
.navbar,.navbar-default {
  background: #fff !important;
  box-shadow: 5px 2px 5px rgba(1,1,1,0.29);
}
.image-div {
  height:100%;
  width: 50%;
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
}
.image-div img {
  position: fixed;
  left:0;
  top:0;
  width: 100vw;
  min-height: 100vh;
}
#profilepic{
    background-image: url('../images/me.png');
    background-size: cover;
    position:relative;;
    top:25%;
    margin:0 auto;
    border: 2px solid white;
    border-radius: 50%;
    height:8em;
    width:8.5em;
}
.tagline{
    position: relative;
    text-align: center;
    top:25%;
    margin:0 auto;
    width:35%;
    color:aliceblue;
    font-family: cursive;
    font-size: 1.2em;
}
.tagline h1{
  font-weight: bolder;
}
.half {
  /*width:50%;*/
  height:100%;
  background:#fff;
  position:absolute;
  top:0;
}
.half .parent-desc {
  height: 20%;
  width: 100%;
  position: relative;
  top: 20%;
  text-align: center;
  margin: 0 auto;
}
.two .parent-desc {
  height: auto;
  top:10%;
}
.parent-desc .desc {
  height:100%;
  width:70%;
  display: none;
  transition: opacity 1s ease-in;
  opacity: 1;
  margin:0 auto;
  font-family: 'Kaushan Script',sans-serif, cursive;
}
.desc h2 {
  font-size: 3em;
}
.desc div {
  padding-top: 10px;
}
.desc div p{
  font-size: 1.5em;
  font-weight: normal;
  font-family: sans-serif;
}
.edu-desc div {
  padding:20px 0;
}
svg {
  height:40px;
}
svg path {
  fill:#9E9E9E;
}
svg:hover #cpp{
  fill:#F44336;
}
svg:hover #java1, svg:hover #java3, svg:hover #java4{
  fill:#0074BD;
}
svg:hover #java2{
  fill:#EA2D2E;
}
svg:hover #python{
  fill:#FFD845;
}
svg:hover #c{
  fill:#03599C;
}
svg:hover #js{
  fill:#F0DB4F;
}
svg:hover #njs{
  fill:#83CD29;
}
svg:hover #jquery{
  fill:#0868AC;
}
svg:hover #rjs{
  fill:#61dafb;
}
svg:hover #html{
  fill:#E44D26;
}
svg:hover #css{
  fill:#1572B6;
}
svg:hover #git{
  fill:#F34F29;
}
svg:hover #sass{
  fill:#CB6699;
}
svg:hover #mysql{
  fill:#00618A;
}
