@import './variables.scss';
.nav {
    display: flex;
    align-content: center;
    height: 80px;
    .nav-wrapper {
        padding: 0 0.5em;
        width: 100%;
    }
    .links {
        display: inline-block;
        padding: 0;
        .list {
            list-style: none;
            display: inline-block;
        }
        .social-icon {
            height: 30px;
            width: 30px;
            margin-right: 30px;
            opacity: 0.5;
            path {
                fill: #141D2A;
            }
            &:hover {
                opacity: 1;
            }
            @media screen and (max-width: $xs) {
                margin-right: 10px;
            }
        }
    }
    .react-toggle {
        touch-action: pan-x;
        display: inline-block;
        position: relative;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        padding: 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        .react-toggle-track {
            width: 50px;
            height: 24px;
            padding: 0;
            border-radius: 30px;
            background-color: #0f1114;
            transition: all .2s ease;
        }
        .react-toggle-track-check {
            position: absolute;
            width: 17px;
            height: 17px;
            left: 5px;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            line-height: 0;
            opacity: 0;
            transition: opacity .25s ease;
        }
        .react-toggle-track-x {
            position: absolute;
            width: 17px;
            height: 17px;
            right: 5px;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            line-height: 0;
        }
        .react-toggle-thumb {
            position: absolute;
            top: 1px;
            left: 1px;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: #fafafa;
            box-sizing: border-box;
            transition: all .5s cubic-bezier(.23,1,.32,1) 0ms;
            transform: translateX(0);
        }
        .react-toggle-screenreader-only {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
    }
}
.dark {
    .nav {
        .links {
            .social-icon {
                path {
                    fill: #C1B3BB;
                }
            }
        }
    }
}