@import './variables.scss';

.hero {
    width: 100%;
    text-align: center;
    .company {
        color: #4f7fbb;
    }
    .sub-title {
        opacity: 0;
        transform: translateY(20%);
    }
    .fade-in.sub-title {
        animation: fade 0.5s ease-in forwards;
    }
    @keyframes fade {
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}