@import './variables.scss';

.switch-container {
	position: relative;
	color: $switchLabel;
	.labelText {
		@media screen and (max-width: $xs) {
			display: none;
		}
	}
}
.switch {
	position: absolute;
	opacity: 0;
	top: 2px;
}
.switch + .switch-bg {
	vertical-align: middle;
	width: 35px;
	height: 15px;
	border-radius: 999px;
	cursor: pointer;
	background-color: $dark-bg;
	transition-duration: 0.5s;
	transition-property: background-color, box-shadow;
	display: inline-block;
	margin-left: 5px;
	.switch-thumb {
		float: left;
		width: 15px;
		height: 15px;
		border-radius: inherit;
		border: 3px #3b89ec solid;
		background: #ffffff;
		transition-timing-function: cubic-bezier(1,0,0,1);
		transition-duration: 0.4s;
		transition-property: transform, background-color;
		pointer-events: none;
		margin-top: -3px;
	}
}

.switch:checked + .switch-bg {
	width: 35px;
	background-position: 0 0;
	background-color: $bg;
	.switch-thumb {
		transform: translate3d(15px, 0, 0);
	}
}