/* screen sizes */
$xs: 425px;
$sm: 728px;
$md: 1024px;
$lg: 1280px;

$container-max-width: 960px;

$bg: #fcfcfc;
$textTitle: #141D2A;
$subTitle: #2C3B51;
$switchLabel: #a09e9e;

/* dark mode */
$dark-bg: #282c35;
$dark-textTitle: white;
$dark-subTitle: #a09e9e;